div.user {
    border: 2px solid #800080; /* Темно-фіолетовий */
    padding: 15px;
    border-radius: 15px; /* Закруглені кути */
    background-color: #FFFACD; /* Світло-жовтий */
}

div.user div {
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

div.user.selected {
    background-color: #FFFACD; /* Світло-жовтий при виборі */
    font-weight: bold;
    color: #ff00af; /* Темно-фіолетовий */
}

body {
    font-family: Arial, sans-serif;
    background-color: #E6E6FA; /* Лавандовий фон */
    margin: 0;
    padding: 20px;
}

/* Панелі */
.panel {
    background-color: #FFFACD; /* Світло-жовтий фон */
    padding: 20px;
    margin: 10px 0;
    border-radius: 15px; /* Закруглені кути */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.panel:hover {
    transform: scale(1.02); /* Легке збільшення при наведенні */
}

.header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}



div.user div:hover {
    background-color: #DDA0DD; /* Світліший лавандовий при наведенні */
}


